public_ip: 0.0.0.0 

proxmox:
  api_host: "0.0.0.0"
  api_port: 8006
  api_user: "ansible@pve"
  api_token_id: "ansible" 
  api_token_secret: ""
  storage_name: "local-zfs"

wireguard:
  lang: en
  port: 51820
  ui_port: 80 
  allowed_ips: 0.0.0.0/24
  default_dns: 0.0.0.0 
  password: password
  chart_type: 2

